body{
    /* background-color: black; */
    background-image: url("img/bg.png");
    background-size:cover; 

}
.end{
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in; 
    position: absolute;
    display: none;
    top: 1%;
    left: 12%;
    width: 1270px;
    height: 690px;
}
.fail{
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in; 
    position: absolute;
    display: none;
    top: 1%;
    left: 12%;
    width: 1270px;
    height: 690px;
}
#soundup{
    position: absolute;
    display: inherit;
    padding:1rem;
    left: 12%;
    bottom: 4%;
    color: white;
    font-size: 3rem;
}
#soundup:hover , #sounddown:hover{
   cursor: pointer;
}
#sounddown{
    padding:1rem;
    display: inherit;
    display: none;
    position: absolute;
    left: 12%;
    bottom: 4%;
    color: white;
    font-size: 3rem;
}