body{
    /* background-color: black; */
    background-image: url("img/bg.png");
    background-size:cover; 

}
.end{
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in; 
    position: absolute;
    display: none;
    top:2%;
    left:13%;
    width: 1230px;
}
.fail{
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in; 
    position: absolute;
    display: none;
    top:2%;
    left:13%;
    width: 1230px;
}